fastapi==0.109.2
uvicorn==0.30.0
python-multipart==0.0.7
pillow==10.3.0
opencv-python==4.9.0.80
numpy==1.26.4
ultralytics==8.3.78
manga-ocr==0.1.14
torch==2.2.2+cu118
torchvision==0.17.2+cu118
transformers==4.40.0
sentencepiece==0.2.0
sacremoses==0.1.1
bitsandbytes==0.43.0
accelerate==0.29.3
paddlepaddle==2.6.0
paddleocr[korean]==2.7.0.3
mecab-python3==1.0.7
TTS==0.22.0
espeakng==1.1.0
soundfile==0.12.1
requests==2.31.0
pygame==2.5.2
psutil==5.9.8
python-dotenv==1.0.1
tqdm==4.66.2
huggingface-hub==0.22.2
datasets==2.18.0
textwrap3==0.9.2
ipykernel==6.29.4
--extra-index-url https://download.pytorch.org/whl/cu118